html, body {

  background: #000;
}

.anim {
  width: 100vw;
  height: 100vh;
}

.heartrate {
  stroke-dasharray: 1600;
  -webkit-animation: heart 4.5s linear infinite;
}

.fade {
  animation: fadeOut ease 4.5s infinite;
}

.glow {
  filter: drop-shadow( 0px 0px 4px rgba(96, 218, 173, 1))
          drop-shadow( 0px 0px 8px rgba(96, 218, 173, 0.8))
          drop-shadow( 0px 0px 12px rgba(96, 218, 173, 0.5));
}

@-webkit-keyframes heart {
  0% {
    stroke-dashoffset: 1600;
  }

  30% {
    stroke-dashoffset: 1310;
  }

  33% {
    stroke-dashoffset: 870;
  }

  67% {
    stroke-dashoffset: 570;
  }

  70% {
    stroke-dashoffset: 130;
  }


  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity:0;
  }

  10% {
    opacity:1;
  }

  80% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}



/* @-webkit-keyframes heart {
  0% {
    stroke-dashoffset: 1000;
  }

  30% {
    stroke-dashoffset: 930;
  }

  36% {
    stroke-dashoffset: 670;
  }

  64% {
    stroke-dashoffset: 580;
  }

  70% {
    stroke-dashoffset: 320;
  }

  100% {
    stroke-dashoffset: 0;
  }
} */






/*---------------------------------------------------------------------------------------------------------------



html {
  scroll-behavior: smooth;
}

.light .intro {
  background-image: linear-gradient(135deg, #fcfcc6, #fcdddd);
}

.dark .intro {
  background-image: linear-gradient(45deg, #2e0629, #020b3b);
}

.dark.alternate .intro {
  background-image: linear-gradient(45deg, #4b0342, #000e58);
}

.black .intro {
  background-color: #000;
}

.hide {
  display: none;
}

.show {
  display: block;
}

/* ---------------- INTRO SPLASH PAGE ----------------

.intro {
  height: 100vh;
}

.double.intro {
  height: 200vh;
}

.finale {
  background-color: #000;
}

.top {
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}


.month, .title {
  font-family: 'Nunito', sans-serif;
  font-size: 100px;
  line-height: 100px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 12px;
  text-align: center;
  text-shadow: 4px 4px 0px #f60ccc, -4px -4px 0px #05ffff;
}

@media only screen and (max-width: 650px) {
  .title {
    font-size: 18vw;
    line-height: 20vw;
    letter-spacing: 6px;
    text-shadow: 4px 4px 0px #f60ccc, -4px -4px 0px #05ffff;
    padding: 0px 24px;
  }
}

@media only screen and (max-width: 850px) {
  .month {
    font-size: 12vw;
    line-height: 12vw;
    letter-spacing: 1vw;
    text-shadow: 4px 4px 0px #f60ccc, -4px -4px 0px #05ffff;
  }
}

@media only screen and (max-width: 650px) {
  .month, .title {
    text-shadow: 3px 3px 0px #f60ccc, -3px -3px 0px #05ffff;
  }
}

@media only screen and (max-width: 425px) {
  .month, .title {
    text-shadow: 3px 3px 0px #f60ccc, -2px -2px 0px #05ffff;
  }
}

.light .month, .light .title {
  color: #fff;
}

.dark .month, .dark .title {
  color: #000;
}

.chapter {
  display: block;
  font-family: 'Special Elite', sans-serif;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 16px;
  margin-top: 36px;
  margin-bottom: 10vh;
}

@media only screen and (max-width: 850px) {
  .chapter {
    font-size: 5vw;
    line-height: 5vw;
    letter-spacing: 8px;
    margin-top: 24px;
  }
}

@media only screen and (max-width: 425px) {
  .chapter {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 8px;
    margin-top: 24px;
  }
}

.light .chapter {
  color: #883030;
  text-shadow: 0.5px 0px #883030;
}

.dark .chapter {
  color: #05ffff;
}

.black .chapter {
  color: #fff;
  text-shadow: 0.5px 0px #fff;
}

.subtitle {
  display: block;
  font-family: 'Special Elite', sans-serif;
  font-size: 32px;
  line-height: 48px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 8px;
  max-width: 850px;
  padding: 36px 16px;
}

@media only screen and (max-width: 650px) {
  .subtitle {
    font-size: 5.5vw;
    line-height: 9vw;
    letter-spacing: 4px;
    padding: 32px 16px 0px;
  }
}

.light .subtitle {
  color: #883030;
  text-shadow: 0.5px 0px #883030;
}

.dark .subtitle {
  padding: 36px 8%;
  color: #05ffff;
}

@media only screen and (max-width: 650px) {
  .dark .subtitle {
    padding: 32px 15% 0px;
  }
}

.black .subtitle {
  color: #fff;
}

.bottom {
  height: 40vh;
  display: flex;
  justify-content: center;
}

.scrollup {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10%;
}

.scrollup .icon {
  font-size: 36px;
  height: 36px;
  width: 36px;
  position: relative;
  animation: MoveUpDown 2.5s ease infinite;
  fill: #fff;
}

.light .icon {
  color: #f60ccc;
}

.dark .icon {
  color: #05ffff;
}

.black .icon {
  color: #fff;
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 20px;
  }

  60% {
    bottom: 100px;
  }
}

.follow .text  {
  font-size: inherit;
  line-height: inherit;
  text-align: center;
  width: 100%;
  padding-top: 24px;
}

.light .follow .text {
  color: #f60ccc;
}

.dark .follow .text, {
  color:#05ffff;
}

.black .follow .text, {
  color: #fff;
}
