.gradient-pink {
  background-image: linear-gradient(-45deg, #f7b6ff, #ffe4e4);
}

.container {
  max-width: 1000px;
  margin:auto;
}

.header {
  height: 100vh;
}

.chapter {
  display: flex;
  font-family: 'Merienda', sans-serif;
  font-size: 60pt;
  font-weight: 700;
  text-transform: uppercase;

  color: #fff;
  text-shadow: 4px 4px 0px rgba(179, 0, 181, 1), 8px 8px 0px rgba(0, 26, 189, 1);
  height: 40%;

  justify-content: center;
  align-items: flex-end;
}

.month {
  display: flex;
  font-family: 'Raleway', sans-serif;
  font-size: 30pt;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 1pt;

  padding-top: 30px;

  color: #001abd;
  height: 40%;

  justify-content: center;
  align-items: flex-start;
}

.scrollup {
  display: flex;
  height: 20%;
  align-items: center;
  justify-content: center;

}

.mail-text {
  font-family:'Lucida console';
  color: #444444;

  border-style: solid;
  border-width: 1px;
  border-color: #b0b0b0;
  border-radius: 4px;
}

.people-text {
font-family: 'Raleway', sans-serif;
font-weight: 500;
font-size: 18pt;
line-height: 32pt;
}

.chat {
    background-color: #ebebeb;
    padding: 15px 8px;
}

.speech {
  background-color: #d5f1ef;
  padding: 15px 8px;
}

.row-frankie {
      display: block;
      text-align: right;
}

.balloon-frankie-speech {
  display: inline-block;
  background-color: #fff;
  border-radius: 16px;
  padding: 10px 20px;
  margin: 12px 20px;
  box-shadow: 0px 1px 2px 0px rgba(0, 86, 131, 0.3);
  max-width: 60%;
}

.balloon-frankie-speech:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 20px solid #fff;
  border-right: 20px solid transparent;
  border-top: 20px solid #fff;
  border-bottom: 20px solid transparent;
  margin-left: 0px;
  margin-top: -10px;
}

.balloon-frankie-sms {
  display: inline-block;
  background-color: #dcfcca;
  border-radius: 16px;
  padding: 10px 20px;
  margin: 10px 20px;
  box-shadow: 0px 1px 3px 0px rgba(37, 60, 0, 0.3);
  max-width: 60%;
}

.balloon-frankie-sms:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 20px solid #dcfcca;
  border-right: 20px solid transparent;
  border-top: 20px solid #dcfcca;
  border-bottom: 20px solid transparent;
  margin-left: 0px;
  margin-top: -10px;
}

.frankie {
  color: #003430;
  display: inline-block;
  text-align: left;
}

.row.her {
  display: block;
}

.balloon-her-speech {
  background-color: #fff;
  border-radius: 16px;
  padding: 10px 20px;
  margin: 12px 20px;
  box-shadow: 0px 1px 4px 0px rgba(0, 86, 131, 0.3);
  max-width: 60%;
}

.balloon-her-speech:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 20px solid transparent;
  border-right: 20px solid #fff;
  border-top: 20px solid #fff;
  border-bottom: 20px solid transparent;
  margin-left: -40px;
  margin-top: -10px;
}

.balloon-her-sms {
  display: inline-block;
  background-color: #fff;
  border-radius: 16px;
  padding: 10px 20px;
  margin: 10px 20px;
  box-shadow: 0px 1px 4px 0px rgba(37, 60, 0, 0.3);
  max-width: 60%;
}

.balloon-her-sms:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 20px solid transparent;
  border-right: 20px solid #fff;
  border-top: 20px solid #fff;
  border-bottom: 20px solid transparent;
  margin-left: -40px;
  margin-top: -10px;
}

.her {
  color: #340a00;
  display: inline-block;
  text-align: left;
}

.button {
  display: block;
  background-color: #009ecf;

  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 14pt;
  color: white;
  line-height: 20pt;
  letter-spacing: 1pt;

  text-decoration: none;
  text-align: center;
  text-transform: uppercase;

  padding: 15px 32px;
  margin: 40px auto;
  border-radius: 50px;
  box-shadow: 0 6px #006483;
  width: 50%;
  max-width: 500px;
  }

.button:hover {
    box-shadow: 0 4px #006483;
    top: 2px;
}

.button:active {
    box-shadow: 0 0 #006483;
    top: 6px;
}





/*
.button2 {
  display: block;
  background-color: #009ecf;

  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 14pt;
  color: white;
  line-height: 20pt;
  letter-spacing: 1pt;

  text-decoration: none;
  text-align: center;
  text-transform: uppercase;

  padding: 15px 32px;
  margin: 40px auto;
  border-radius: 50px;
  box-shadow: 0px 5px 20px 5px rgba(0, 150, 204, 0.72);
  width: 50%;
  max-width: 500px;
} */
